



	<!--Add Jquery-->
	<script src="/pennsound/jplayer/jquery-3.1.1.min.js"></script>

	<!--Add player's default CSS and scripts -->
	<link type="text/css" href="/pennsound/jplayer/pennsound-custom-css.css" rel="stylesheet" />
	<link type="text/css" href="/pennsound/jplayer/skin/uno/jplayer.uno.min.css" rel="stylesheet" />
	<script type="text/javascript" src="/pennsound/jplayer/jquery.jplayer.min.js"></script>
	<script type="text/javascript" src="/pennsound/jplayer/add-on/jplayer.playlist.min.js"></script>
	<script type="text/javascript" src="/pennsound/jplayer/add-on/jplayer.jukebox.min.js"></script>

	<!--Add the player, player options and custom embedding solution-->
	<script src="/pennsound/jplayer/pennsound-jplayer.js"></script>

</head>
<body>





<h1><a href="http://www.continualesong.com/">Michael Haslam</a></h1>

<h2>Private Recording of "Continual Song," 1982</h2>

<p>Published in 1986, this early version of <span class="title">Continual Song</span> was sent to Charles Bernstein by the author.
The latest version of <span class="title">Continual Song</span> is in print with Shearsman Books of Exeter, UK.</p>

<p>Complete Recording (1:29:31): <a href="http://media.sas.upenn.edu/pennsound/authors/Haslam/Haslam-Michael_Continual-Song_Private-Recording_82.mp3">MP3</a>


<p>&copy; 2009 by Michael Haslam. These sound recordings are being made available for noncommercial and
educational use only. All rights to this recorded material belong to the author. Used with permission of the author.
Distributed by <a href="http://writing.upenn.edu/pennsound">PennSound</a>.</p>
