<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>PennSound</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='home.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/png" />
</head>

<body>
    <div id="header">
            <img src="{{ url_for('static', filename='images/PennSound_flat3.gif') }}" usemap="#banner" alt="" />
            <map id="banner" name="banner">
            <area shape="rect" coords="14,7,64,22" href="http://writing.upenn.edu" alt="CPCW" />
            <area shape="rect" coords="70,6,116,23" href="http://epc.buffalo.edu" alt="EPC" />
            <area shape="rect" coords="118,7,174,23" href="http://www.ubu.com" alt="ubuweb" />
            <area shape="rect" coords="178,7,246,24" href="http://www.jacket2.org" alt="Jacket2" />
            <area shape="rect" coords="250,7,310,24" href="http://writing.upenn.edu/pennsound/about.php" alt="About Us" />
            <area shape="rect" coords="15,78,244,90" href="http://www.upenn.edu" alt="University of Pennsylvania" />
            <area shape="rect" coords="8,30,333,60" href="http://writing.upenn.edu/pennsound" alt="PennSound" />
            <area shape="rect" coords="127,61,561,79" href="http://writing.upenn.edu" alt="Center for Programs in Contemporary Writing" />
            </map>
        </div>

        <!-- Tables? Yes, thanks to IE. -->

        <table id="container">
        <tr>

        <td id="left">
        			<div class="box">
        				<h2>Inside PennSound</h2>
        				<div class="content">
        					<ul>
        					<li><a href="/x/authors.php">Authors</a></li>
        					<li><a href="/x/series.php">Series</a></li>
        					<li><a href="/x/anthologies.php">Anthologies/Collections/Groups</a></li>
        					<li><a href="http://writing.upenn.edu/pennsound/daily">PennSound Daily archive</a></li>
        					<li><a href="http://writing.upenn.edu/pennsound/singles">Singles</a></li>
        					<li><a href="/x/Close-Listening.php">Close Listening</a></li>
        					<li><a href="/x/video.php">PennSound Cinema</a></li>
        					<li><a href="/x/Radio.php">PennSound Radio</a></li>
        					<li><a href="/x/classics.php">Classics</a></li>
        					<li><a href="http://writing.upenn.edu/wh/multimedia/medialinks">Medialinks</a></li>
        					<li><a href="http://writing.upenn.edu/pennsound/podcasts.php">Podcasts</a></li>
        					<li><a href="/x/featured-resources-archive.php">Featured resources archive</a></li>
        					</ul>
        					<hr />
        					<ul>
        					<li><a style="text-decoration: none;" href="http://www.facebook.com/pages/PennSound/27886305953"><img src="http://writing.upenn.edu/pennsound/images/facebook_16x16.png" alt="" /> PennSound on Facebook</a></li>
        					<li><a style="text-decoration: none;" href="http://twitter.com/PennSound"><img src="http://writing.upenn.edu/pennsound/images/twitter_16x16.png" alt="" /> PennSound on Twitter</a></li>
        					<li><a style="text-decoration: none;" href="http://www.youtube.com/pennsound"><img src="http://writing.upenn.edu/pennsound/images/youtube_16x16.gif" alt="" /> PennSound on YouTube</a></li>
        					</ul>
        					<hr />
        					<ul>
        					<li><a href="/x/Filreis.html">Al Filreis page</a></li>
        					<li><a href="/x/LINEbreak.html">LINEbreak</a></li>
        					<li><a href="http://writing.upenn.edu/wh/involved/series/live/">LIVE at the Writers House</a></li>
        					<li><a href="http://jacket2.org/content/poem-talk">PoemTalk</a></li>
        					<li><a href="http://writing.upenn.edu/wh/webcasts">Writers House webcasts</a></li>
        					<li><a href="http://writing.upenn.edu/pepc/contents.html">PEPC Library</a></li>
        					<li><a href="/x/Live-at-the-Ear-1994.html">Live at the Ear</a></li>
        					</ul>
        					<hr />
        					<ul>
        					<li><a href="http://writing.upenn.edu/pennsound/about.php">About PennSound</a></li>
        					<li><a href="http://writing.upenn.edu/pennsound/manifesto.php">PennSound manifesto</a></li>
        					<li><a href="http://writing.upenn.edu/pennsound/praise.php">Praise for PennSound</a></li>
        					<li><a href="http://writing.upenn.edu/pennsound/news">PennSound in the news</a></li>
        					<li><a href="mailto:pennsound@writing.upenn.edu">Contact us</a></li>
        					</ul>
        				</div>
        			</div>
        						<div class="box">
        				<h2>Search PennSound</h2>
        				<div class="content">
        					<!--<div> -->
        						<form method="post" action="{{ url_for('search') }}">
        						<div>
        						    <input name="q" type="text" size="23" />
        						    <input type="submit" name="sa" value="Search" />
        						</div>
        						</form>

        				</div>
        			</div>

        </td>

        <td id="content">


            {{ content }}


        </td>

    </tr>

    </table>

  </body>
</html>
